@using probnik.Data
@using System.Security.Claims;
@model probnik.Data.GroupChat;
@{
    var only = User.Identity.Name;
    var groupId = ViewBag.GroupId;
    var groupChat = ViewBag.GroupChat as List<GroupChat>;
    var addGroupChat = ViewBag.AddGroupChat as List<AddGroupChat>;
    var name = ViewBag.Name;
    var users = ViewBag.Users as List<User>;
}

<style>
    body {
        overflow: hidden;
    }

    .alignleft {
        float: left;
    }

    .alignright {
        float: right;
    }

    .scroll_div::-webkit-scrollbar {
        width: 0;
    }
</style>

<table align="center">

    <tr>
        @foreach (var i in addGroupChat)
        {
            if (i.Photo != null)
            {
                <td><img style='width:60px; height:60px;border-radius:30px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(i.Photo))" /></td>
            }
            else
            {
                <p align="center"><img style='width: 60px; height: 60px; border-radius: 35px;' src="https://cdn.pixabay.com/photo/2012/04/26/19/43/profile-42914_1280.png" /> @name</p>
                break;
            }
        }
        <td align="right">@name</td>
    </tr>
</table>

@foreach (var i in addGroupChat)
{
    <a asp-action="EditGroupChat" asp-controller="Messages" asp-route-groupId="@i.GroupId" asp-route-userId="@i.userId">Изменить</a>
    break;
}

<h2 align="center">Сообщения</h2>
<div class="scroll_div" id="mydiv" style=" overflow: scroll;overflow-x:hidden; height: 332px;background:white;">
    <table height: 332px; width="100%" id="tblMessages" class="">
        <tbody></tbody>
    </table>
</div>
</br>
<div class="form-group col-md-5">
    <input hidden type="text" id="addId" value="@groupId" class="form-control" required="" />
</div>

<div class="form-group col-md-5">
    <input hidden type="text" id="addFromm" value="@only" class="form-control" required="" />
</div>
<div class="form-group col-md-5">
    <input hidden id="addDate" class="form-control" value="@DateTime.Now" required="" />
</div>
@*<div class="form-group col-md-5">
        <input type="file" id="addPhoto" class="form-control" required="" />
    </div>*@
<div style="width: 100%; height: 70px;">
    <input type="text" style="width: 80%; border-radius: 5px;" id="addMessage" class="alignleft" placeholder="Введите сообщение" required="" />
    @*<input  id="addPhoto" class="form-control" type="file" required="" />*@
    <input class="alignright" id="btnSave" value="Save" type="button">
</div>

<link rel="stylesheet" href="~/css/photo.css" />
@section Scripts
{
    <script type="text/javascript">
        $(function  () {
            LoadData();
            $("#btnSave").click(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("sendGroupMessage")',
                    data: {
                        addGroupChatId: $("#addId").val(),
                        message: $("#addMessage").val(),
                        fromm: $("#addFromm").val(),
                        date: $("#addDate").val()
                        //photo: $("#addPhoto").val()
                    },

                    success: function (data) {
                        LoadData();

                    }
                });
                return false;
            });
        });
        setInterval(LoadData, 7500);

        //Вывод
        function LoadData(groupId = $("#addId").val()) {

        $("#tblMessages tbody tr").remove();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getGroupMessage")',
            dataType: 'json',
            data: { groupId: groupId},
            success: function (data) {
                $.each(data, function (i, item) {
                        var rows =
                            "<tr>"
                            + "<td style='border: 2px solid white;'>"
                            + "<div style='background-color: rgba(128, 128, 255,0.3);'>"
                            + "<p class='alignleft' >" + item.fromm + "</p>"
                            + "<p class='alignright' >" + item.date + "</p>" + "</br>"
                            + "</div>"
                            + "<p align='left' style='margin:20px;' >" + item.message + "</p>"
                            + "</td>"
                            + "</tr>";
                    $('#tblMessages tbody').append(rows);
                    $("#mydiv").scrollTop($("#mydiv")[0].scrollHeight);
                    console.log(142);


                });
            }
        });
        return false;
        }
    </script>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
<link rel="stylesheet" href="~/css/photo.css" />
