@using probnik.Data
@using System.Security.Claims;
@model probnik.Data.GroupChat;
@{
    var only = User.Identity.Name;
    var groupId = ViewBag.GroupId;
    var groupChat = ViewBag.GroupChat as List<GroupChat>;
    var addGroupChat = ViewBag.AddGroupChat as List<AddGroupChat>;
    var name = ViewBag.Name;
    var users = ViewBag.Users as List<User>;
}
<style>
    body {
        overflow: hidden;
    }
    #scroll_div::-webkit-scrollbar {
        width: 0;
    }
</style>
<table align="center">
   
    <tr>
        @foreach (var i in addGroupChat)
        {
                if (i.Photo != null) {
            <td><img style='width:60px; height:60px;border-radius:30px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(i.Photo))" /></td>
            }
        }
        <td align="right">@name</td>
    </tr>
</table>
@foreach(var i in addGroupChat) {
<a asp-action="EditGroupChat" asp-controller="Messages" asp-route-groupId="@i.GroupId"asp-route-userId="@i.userId">Изменить</a>
    break;
}
<div id="scroll_div" style=" overflow: scroll;overflow-x:hidden; height: 332px">
    @if (groupChat != null)
    {
        @foreach (var i in groupChat)
        {
            if (DateTime.Now.Day - i.Date.Day >= 1)
            {
                <p align="center">@i.Date.ToString("dd MMMM")</p>
            }
            <p style="color: blue;">@i.Fromm @i.Date.ToString("HH:mm:ss")</p>

            <form asp-controller="Messages" asp-action="DeleteGroupMessage" method="post" asp-route-id="@i.Id">
                <div class="form-group">

                    <p>@i.Message</p>
                    @if (i.Photo != null)
                    {
                        <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(i.Photo))" />
                    }
                    @if (i.Video != null)
                    {
                        <video controls width="300px" height="250px" src="data:video/mp4;base64,@(Convert.ToBase64String(i.Video))"></video>
                    }
                    @if (i.Fromm == only)
                    {
                        <p align="center">
                            <input type="submit" class="btn btn-default" value="Удалить" />
                        </p>
                    }
                </div>
            </form>
        }
    }
    else
    {
        <p aslign="center">Напишите ваше первое сообщение</p>
    }
</div>
<form style="border: 3px #d4d4f1 solid;" asp-action="GroupMessage" asp-controller="Messages" enctype="multipart/form-data">
    <div hidden class="form-group">
        <label asp-for="addGroupChatId" class="control-label"></label>
        <input type="text" asp-for="addGroupChatId" value="@groupId" class="form-control" />
    </div>
    <div class="form-group">
        <label hidden asp-for="Message" class="control-label"></label>

        <label class="upload-file__label" for="upload-file__input_1" asp-for="Photo">
            <i class="fas fa-chevron-circle-up"></i>
        </label>

        <input hidden
               asp-for="Photo"
               name="uploadPhoto"
               type="file"
               id="upload-file__input_1"
               class="form-control"
               accept=".jpg, .jpeg, .png, .gif, .bmp, .doc, .docx, .xls, .xlsx, .txt, .tar, .zip, .7z, .7zip"
               multiple>

        <label class="upload-file__label" for="upload-file__input_2" asp-for="Video">
            <i class="fas fa-video"></i>
        </label>
        <input hidden
               asp-for="Video"
               name="uploadVideo"
               type="file"
               id="upload-file__input_2"
               class="form-control"
               accept=".mp4"
               multiple>

        <input type="text" asp-for="Message" value="" class="form-control" />
    </div>
    <div hidden class="form-group">
        <label asp-for="Fromm" class="control-label">От кого</label>
        <input type="text" asp-for="Fromm" value="@User.Identity.Name" class="form-control" />
    </div>
    <div hidden class="form-group">
        <label asp-for="Date" class="control-label">Дата</label>
        <input type="text" asp-for="Date" value="@DateTime.Now" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" enctype="multipart/form-data" />
    </div>
</form>
    </div>
<script>
    var scrollDiv = document.getElementById("scroll_div");
    scrollDiv.scrollTo(0, scrollDiv.scrollHeight);
</script>
<link rel="stylesheet" href="~/css/photo.css" />
