@using probnik.Data
@using System.Security.Claims;
@model IEnumerable<probnik.Data.Messages>
@{
    ViewBag.Title = "Сообщения";
    var user = ViewBag.Users as List<User>;
    var message = ViewBag.Messages as List<Messages>;
    var only = User.Identity.Name;
    var photo = ViewBag.Photo as List<byte[]>;
    var idd = User.FindFirstValue(ClaimTypes.NameIdentifier);
    /*
    @foreach (var i in user.Distinct())
    {
        if (i.Email != "admin@mail.com" && i.Email != User.Identity.Name&&i.message!=null)
        {
            <tr><td>@i.Name</td><td align="right"><a asp-action="CreateMessage" asp-controller="Home" asp-route-id="@i.Id" asp-route-Email="@i.Email">Написать</a></td></tr>
        }
    }*/
}
<a asp-action="AddGroupChat" asp-controller="Messages">Групповой чат</a>
<table class="table">
    <tr><td colspan="2" align="center">Сообщения</td></tr>
    @foreach (var i in user)
    {
        <tr><td>@i.Name</td><td align="right"><a asp-action="CreateMessage" asp-controller="Messages" asp-route-id="@i.Id" asp-route-name="@i.Name" asp-route-Email="@i.Email" asp-route-photo="@i.Photo">Написать</a></td></tr>
    }
</table>
