@using probnik.Data
@using System.Security.Claims;
@using probnik.Controllers;
@model MessegaseModel;
@{
    ViewBag.Title = "Сообщения";
    var addGroupChat = ViewBag.AddGroupChat as List<AddGroupChat>;
    var message = ViewBag.Messages as List<Messages>;
    var only = User.Identity.Name;
    var photo = ViewBag.Photo as List<byte[]>;
    var idd = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var groupChat = ViewBag.GroupChat as List<GroupChat>;
}
<style>
    td a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .alignleft {
        float: left;
    }

    .alignright {
        float: right;
    }

    img {
        width: 50px;
        height: 50px;
        border-radius: 35px;
    }

    table {
        border-collapse: separate;
        width: 100%;
        border-spacing: 7px 11px;
    }

    tr {
        border: 1px solid #a52a2a; /* Граница вокруг ячеек */
    }

    @@media (max-width:490px) {
        img {
            width: 30px;
            height: 30px;
        }
    }

    .first_div {
        background: rgba(128, 128, 255,0%);
    }

    .second_div {
        background: rgba(128, 128, 255,0%);
    }
    button {
        width:100%;
        background: #d9d9ff;
        border-radius: 13px;
        border-color: #a8bdff;
        height:50%;
    }
</style>
<a asp-action="AddGroupChat" asp-controller="Messages">Создать беседу</a>
<div  class="rightbokmenu">
    <button class="btn2">Сообщения</button>
    <br />
    <button class="btn1">Групповые чаты</button>
</div>
<div class="second_div">
    <table>
        <p align="center">Групповые чаты</p>
        @if (Model.AddGroupChats != null)
        {
            @foreach (var j in addGroupChat)
            {
                @foreach (var i in Model.AddGroupChats.Where(x => x.GroupId == j.GroupId && x.Name != null))
                {

                    <tr>
                        <td>
                            <a asp-action="GroupMessage" asp-controller="Messages" asp-route-groupId="@i.GroupId" asp-route-Name="@i.Name">
                                @if (i.Photo != null)
                                {
                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(i.Photo))" />
                                }
                                else
                                {
                                    <img src="https://tib.tomsk.ru/upload/iblock/9bb/9bba32393645786f73bbc55c98aa138e.jpg" />

                                }

                            </a>

                        </td>
                        <td width="100%" >
                            <a asp-action="GroupMessage" asp-controller="Messages" asp-route-groupId="@i.GroupId" asp-route-Name="@i.Name">
                                @i.Name
                                <br />
                            </a>
                            @if (i.groupChat != null)
                            {
                                <a style="background:white" asp-action="GroupMessage" asp-controller="Messages" asp-route-groupId="@i.GroupId" asp-route-Name="@i.Name">

                                    @Model.User.LastOrDefault(x => x.Email == groupChat.LastOrDefault(x => x.addGroupChatId == i.Id).Fromm).Name
                                    <br />
                                    @groupChat.LastOrDefault(x => x.addGroupChatId == i.Id).Message
                                </a>
                            }
                            else
                            {
                                <a style="background:white" asp-action="GroupMessage" asp-controller="Messages" asp-route-groupId="@i.GroupId" asp-route-Name="@i.Name">
                                    Нет сообщений
                                </a>
                            }

                        </td>

                    </tr>
                }
            }
        }
    </table>
</div>
<div class="first_div">
    <table>

        <p align="center">Сообщения</p>
        @foreach (var i in Model.User)
        {
            foreach (var j in message.Where(x => x.id == idd && x.Fromm == i.Email || x.id == i.Id && x.Fromm == only).Take(1))
            {
                <tr style="">
                    <td>

                        <a asp-action="UserId" asp-controller="Home" asp-route-id="@i.Id">
                            @if (i.Photo != null)
                            {
                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(i.Photo))" />
                            }
                            else
                            {
                                <img src="https://tib.tomsk.ru/upload/iblock/9bb/9bba32393645786f73bbc55c98aa138e.jpg" />

                            }
                        </a>

                    </td>
                    <td style="width: 100%;">
                        <a asp-action="Message" asp-controller="Messages" asp-route-id="@i.Id" asp-route-name="@i.Name" asp-route-Email="@i.Email" asp-route-photo="@i.Photo">
                            @i.Name

                        </a>
                        <a style="background:white;border-radius:2px;" asp-action="Message" asp-controller="Messages" asp-route-id="@i.Id" asp-route-name="@i.Name" asp-route-Email="@i.Email" asp-route-photo="@i.Photo">
                            @Model.User.LastOrDefault(x => x.Email == message.LastOrDefault(x => x.id == idd && x.Fromm == i.Email || x.id == i.Id && x.Fromm == only).Fromm).Name @message.LastOrDefault(x => x.id == idd && x.Fromm == i.Email || x.id == i.Id && x.Fromm == only).Date.ToString("dd MMMM H:mm")
                            <br />
                            @message.LastOrDefault(x => x.id == idd && x.Fromm == i.Email || x.id == i.Id && x.Fromm == only).Message
                        </a>
                    </td>

                </tr>
            }
        }
    </table>
</div>
        </div>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
        @section Scripts
{
            <script>
                $(document).ready(function () {
                    $(".second_div").hide();
                    $(".btn1").click(function () {
                        $(".first_div").hide();
                        $(".second_div").show()
                    });
                    $(".btn2").click(function () {
                        $(".second_div").hide();
                        $(".first_div").show()
                    });
                });
                //setTimeout(function () {
                //    window.location.reload(1);
                //}, 8500);
                function isChecked(id) {
                    return checkedStudents.find((item) => item === id);
                }
            </script>
        }
