@using probnik.Data
@using System.Security.Claims;
@using probnik.Controllers;
@model MessegaseModel;
@{
    ViewBag.Title = "Сообщения";
    var groupChat = ViewBag.GroupChat as List<AddGroupChat>;
    var message = ViewBag.Messages as List<Messages>;
    var only = User.Identity.Name;
    var photo = ViewBag.Photo as List<byte[]>;
    var idd = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<a asp-action="AddGroupChat" asp-controller="Messages">Групповой чат</a>

<table class="table">
    @if (Model.AddGroupChats != null)
    {
        @foreach (var i in Model.AddGroupChats)
        {
            <tr>
                <td>
                    @if (i.Photo != null)
                    {
                        <img style='width:50px; height:50px; border-radius:35px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(i.Photo))" />
                    }
                    else
                    {
                <img style='width:50px; height:50px; border-radius:35px;' src="https://tib.tomsk.ru/upload/iblock/9bb/9bba32393645786f73bbc55c98aa138e.jpg" />

                    }
                </td>
                <td>@i.Name</td>
                <td align="right"><a asp-action="GroupMessage" asp-controller="Messages" asp-route-groupId="@i.GroupId" asp-route-Name="@i.Name">Написать</a></td>
            </tr>
        }
    }
    <tr><td colspan="2" align="center">Сообщения</td></tr>
    @foreach (var i in Model.User)
    {
        <tr><td>@i.Name</td><td align="right"><a asp-action="Message" asp-controller="Messages" asp-route-id="@i.Id" asp-route-name="@i.Name" asp-route-Email="@i.Email" asp-route-photo="@i.Photo">Написать</a></td></tr>
    }
</table>
