@using probnik.Data
@using System.Security.Claims;
@model probnik.Data.Messages;
@{
    ViewBag.Title = "Сообщение";
    var message = ViewBag.Message as List<Messages>;
    var users = ViewBag.Users as List<User>;
    //var idd = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var only = User.Identity.Name;
    var name = ViewBag.Name;
    var Email = ViewBag.Email;
    var mId = ViewBag.Mid;
    //Правильные сообщения
    //@foreach (var i in message.Where(x => (x.id == mId && x.Fromm == only) || (x.Fromm == email && x.id == idd)).OrderBy(x => x.Date))
}
<style>
    body {
        overflow: hidden;
    }

    .alignleft {
        float: left;
    }

    .alignright {
        float: right;
    }

    .scroll_div::-webkit-scrollbar {
        width: 0;
    }
</style>

@foreach (var i in users)
{
    @if (i.Photo != null)
    {
        <p align="center"><img style='width: 60px; height: 60px; border-radius: 35px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(i.Photo))" /> @name</p>
    }
    else
    {
        <p align="center"><img style='width: 60px; height: 60px; border-radius: 35px;' src="https://cdn.pixabay.com/photo/2012/04/26/19/43/profile-42914_1280.png" /> @name</p>
    }
}
    <h2 align="center">Сообщения</h2>
        <div class="scroll_div" id="mydiv" style=" overflow: scroll;overflow-x:hidden; height: 332px;background:white;">
            <table height: 332px; width="100%" id="tblMessages" class="">
                <tbody></tbody>
            </table>
        </div>
</br>
    <div class="form-group col-md-5">
        <input hidden type="text" id="addId" value="@mId" class="form-control" required="" />
    </div>

    <div class="form-group col-md-5">
        <input hidden type="text" id="addFromm" value="@only" class="form-control" required="" />
    </div>
    <div class="form-group col-md-5">
        <input hidden id="addDate" class="form-control" value="@DateTime.Now" required="" />
    </div>
<input hidden id="Email" value="@Email" />
    @*<div class="form-group col-md-5">
            <input type="file" id="addPhoto" class="form-control" required="" />
        </div>*@
<div style="width: 100%; height: 70px;">
    <input type="text" style="width: 80%; border-radius: 5px;" id="addMessage" class="alignleft" placeholder="Введите сообщение" required="" />
    @*<input  id="addPhoto" class="form-control" type="file" required="" />*@
    <input  class="alignright" id="btnSave" value="Save" type="button">
</div>

<link rel="stylesheet" href="~/css/photo.css" />
@section Scripts
{
    <script type="text/javascript">

       //setInterval(function () {
       //     $('#time').load('Message.cshtml #time');
       // }, 3000);
        //Добавление
        @*$(document).ready(function () {
            $('#btnSave').click(function () {
                $.ajax({
                    method: "POST",
                    dataType: 'json',
                    url: '@Url.Action("sendMessages")',
                    data: {
                        id: $("#addId").val(),
                        message: $("#addMessage").val(),
                        fromm: $("#addFromm").val(),
                        date: $("#addDate").val()
                        //photo: $("#addPhoto").val()
                    },
                    success: function (data) {
                        // Получаем ответ с сервера с помощью ajax
                        $('#div-id').html(data)
                    }
                });
            });
        });*@
        $(function  () {
            LoadData();
            $("#btnSave").click(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("sendMessages")',
                    data: {
                        id: $("#addId").val(),
                        message: $("#addMessage").val(),
                        fromm: $("#addFromm").val(),
                        date: $("#addDate").val()
                        //photo: $("#addPhoto").val()
                    },

                    success: function (data) {
                        LoadData();

                    }
                });
                return false;
            });
        });
        setInterval(LoadData, 7500);

        //Вывод
        function LoadData(id = $("#addId").val(), Email = $("#Email").val()) {

        $("#tblMessages tbody tr").remove();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getMessages")',
            dataType: 'json',
            //data: { idd: '', },
            data: { id: id, Email: Email },
            success: function (data) {
                //var items = '';
                $.each(data, function (i, item) {
                        var rows =
                            "<tr>"
                            + "<td style='border: 2px solid white;'>"
                            + "<div style='background-color: rgba(128, 128, 255,0.3);'>"
                            + "<p class='alignleft' >" + item.fromm + "</p>"
                            + "<p class='alignright' >" + item.date + "</p>" + "</br>"
                            + "</div>"
                            + "<p align='left' style='margin:20px;' >" + item.message + "</p>"
                            + "</td>"
                            + "</tr>";
                    $('#tblMessages tbody').append(rows);
                    $("#mydiv").scrollTop($("#mydiv")[0].scrollHeight);
                    console.log(142);


                });
            }
        });
        return false;
        }

        /*setTimeout(, 5000);*/
        //setTimeout(function () {
        //document.getElementById("time").location.reload(1);
        //}, 5000);
       //
        //setTimeout(function () {
        //    window.location.reload(1);
        //}, 3000);

        //$('#time').click(function () {
        //    location.reload();
        //});

        ////вывод с конца
        //var scrollDiv = document.getElementById("scroll_div");
        //scrollDiv.scrollTo(0, scrollDiv.scrollHeight);
        ////
    </script>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
@*<p>@i.Message</p>
    @if (i.Photo != null)
    {
        <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(i.Photo))" />
    }
    @if (i.Video != null)
    {
        <video controls width="300px" height="250px" src="data:video/mp4;base64,@(Convert.ToBase64String(i.Video))"></video>
    }
    @if (i.Fromm == only)
    {
        <p align="center">
            <input type="submit" class="btn btn-default" value="Удалить" />
        </p>
    }*@