@using probnik.Data
@model IEnumerable<probnik.Data.User>
@{
    ViewBag.Title = "Все пользователи";
    var user = ViewBag.Users as List<User>;
    var message = ViewBag.Messages as List<Messages>;
}
<form asp-controller="Home" asp-action="GetUsers" method="get">
    <p>
        Пользователь: <input id="text-to-find" type="text" name="SearchString" />
        <input type="submit" value="Поиск" />
    </p>
</form>
<table class="table">
    <tr><td colspan="2" align="center">Пользователи</td></tr>
    @foreach (var i in Model.Distinct())
    {
        if (i.Email != "admin@mail.com")
            @if (i.Photo != null)
            {
                <tr><td><a asp-action="UserId" asp-controller="Home" asp-route-id="@i.Id"><img style='width: 50px; height: 50px; min-width: 10%; min-height: 10%; max-width: 40%; max-height: 12%; ' src="data:image/jpeg;base64,@(Convert.ToBase64String(i.Photo))" /><br />@i.Name</a></td><td align="right"><a asp-action="Message" asp-controller="Messages" asp-route-id="@i.Id" asp-route-Email="@i.Email">Написать</a></td></tr>
            }
            else
            {
                <tr><td><a asp-action="UserId" asp-controller="Home" asp-route-id="@i.Id"><img style='width: 50px; height: 50px; min-width: 10%; min-height: 10%; max-width: 40%; max-height: 12%; ' src="https://cdn.pixabay.com/photo/2012/04/26/19/43/profile-42914_1280.png" /><br />@i.Name</a></td><td align="right"><a asp-action="Message" asp-controller="Messages" asp-route-id="@i.Id" asp-route-Email="@i.Email">Написать</a></td></tr>
                
            }
        }
</table>
