@using probnik.Data
@model IEnumerable<probnik.Data.User>
@{
    ViewBag.Title = "Все пользователи";
    var user = ViewBag.Users as List<User>;
    var message = ViewBag.Messages as List<Messages>;
    var only = User.Identity.Name;
}
<style>
    td img {
        width: 55px;
        height: 55px;
        border-radius: 35px;
    }
    @@media(max-width:450px) {
            td img {
                width: 15px;
                height: 15px;
            }
            td{
                width:20px;
            }
    }
</style>
<link rel="stylesheet" href="~/css/photo.css" />
<form asp-controller="Home" asp-action="GetUsers" method="get">
    <p>
        Пользователь: <input id="text-to-find" type="text" name="SearchString" />
        <input type="submit" value="Поиск" />
    </p>
</form>
<table class="table">
    <tr><td colspan="2" align="center">Пользователи</td></tr>
    @foreach (var i in Model.Distinct())
    {
        if (i.Email != "admin@mail.com"&&i.Email!=only)
            @if (i.Photo != null)
            {
<tr><a asp-action="UserId" asp-controller="Home" asp-route-id="@i.Id"><td><img src="data:image/jpeg;base64,@(Convert.ToBase64String(i.Photo))" /></td><td>@i.Name</td></a><td align="right"><a asp-action="Message" asp-controller="Messages" asp-route-id="@i.Id" asp-route-Email="@i.Email" asp-route-name="@i.Name">Написать</a></td></tr>
            }
            else
            {
                <tr><td><a asp-action="UserId" asp-controller="Home" asp-route-id="@i.Id"><img  src="https://cdn.pixabay.com/photo/2012/04/26/19/43/profile-42914_1280.png" /><br />@i.Name</a></td><td align="right"><a asp-action="Message" asp-controller="Messages" asp-route-id="@i.Id" asp-route-Email="@i.Email" asp-route-name="@i.Name">Написать</a></td></tr>
                
            }
        }
</table>
