@using probnik.Data
@using System.Security.Claims;
@model probnik.Data.Comments
@{
    ViewData["Title"] = "Личный Кабинет";
    var post = ViewBag.Posts as List<Posts>;
    var comment = ViewBag.Comments as List<Comments>;
    var user = ViewBag.User as List<User>;
    var only = User.Identity.Name;
    var idd = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var albums = ViewBag.Albums as List<Albums>;
    var photos = ViewBag.Photos as List<Photos>;
}
<style>
    .verticalLine {
        border: 1px solid #ebf3f5;
    }

    .photo {
        width: 100px;
        height: 100px;
    }

    img {
        width: 90px;
        height: 90px;
    }

    @@media (max-width:600px) {
        img {
            width: 60px;
            height: 60px;
        }

        .photo {
            width: 60px;
            height: 60px;
        }
    }

    .alignleft {
        float: left;
    }

    .alignright {
        float: right;
    }
</style>
<script>
    $(document).ready(function () {
        $("figcaption").each(function () {
            if ($(this).prop("innerHTML").length > 30) {
                let val = $(this).prop("innerHTML");
                $(this).attr("title", val);
                $(this).prop("innerHTML", val.substr(0, 30) + "...")
            }
        });
    });

</script>
<a asp-action="EditUser" asp-route-id="@idd">Редактировать</a>
<center>

    @foreach (var i in user)
    {
        <h2>@i.Name</h2>
        @if (i.Photo != null)
        {
            <img class="photo" src="data:image/jpeg;base64,@(Convert.ToBase64String(i.Photo))" />
        }
        else
        {
            <img style='width:120px; height:100px;' src="https://cdn.pixabay.com/photo/2012/04/26/19/43/profile-42914_1280.png" />
        }
        <br />


        <p>Возраст: @(2021-i.Year.Year)</p>
        <p>Номер Телефона: @i.PhoneNumber</p>
        <p>Почта: @i.Email</p>
        <a asp-action="Index" asp-controller="albums" asp-route-id="@idd">Фотографии</a>
    }
    <br />
    @foreach (var i in albums)
    {
        foreach (var j in photos.Where(x => x.albumId == i.Id))
        {
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(j.Photo))" />
        }
        break;
    }
    <br />
    <a asp-action="CreatePosts" asp-route-id="@idd">Добавить Новость</a>
    <br />
    <br />
    @if (post != null)
    {
        foreach (var i in post)
        {
<div style="border: 3px solid #ebf3f5">
    @foreach (var j in user.Where(x => x.Id == i.UserId))
    {
        <p class="alignleft">@j.Name</p>
    }
    <p class="alignright">@i.Data</p>
    <br />
    <br />
    <p style="font-size:20px">@i.Body</p>

    @if (i.Photo != null)
    {
        <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(i.Photo))" />
    }
    @if (i.Video != null)
    {
        <video controls width="300px" height="250px" src="data:video/mp4;base64,@(Convert.ToBase64String(i.Video))"></video>
    }
    @if (i.Music != null)
    {
        <audio controls width="300px" height="250px" src="data:audio/mp3;base64,@(Convert.ToBase64String(i.Music))"></audio>
    }
    @if (User.IsInRole("admin") || User.IsInRole("editor") || i.UserId == idd)
    {
        <form asp-controller="Home" asp-action="DeletePosts" method="post" asp-route-id="@i.Id">
            <p align="center">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </p>
        </form>
    }
    <div class="verticalLine"></div>
            <p></p>
            
            <div class="verticalLine"></div>
    <div class="verticalLine"></div>
    @*<div id="time">
            <div class="scroll_div" id="mydiv" style=" overflow: scroll;overflow-x:hidden;;background:white;">
                <table width="100%" id="tblComments" class="">
                    <tbody style="height:100%"></tbody>
                </table>
            </div>
        </div>
        <div style="">
            @foreach (var j in user)
            {
                <div class="form-group col-md-5">
                    <input hidden type="text" id="addName" value="@j.Name" class="form-control" required="" />
                </div>
            }

            <div class="form-group col-md-5">
                <input hidden type="text" id="addDate" value="@DateTime.Now" class="form-control" required="" />
            </div>

            <div class="form-group col-md-5">
                <input hidden id="addPostId" class="form-control" value="@i.Id" required="" />
            </div>
            <div style="width: 100%; height: 70px;">

                <input type="text" style="width: 80%; border-radius: 5px;" id="addBody" class="alignleft" placeholder="Введите комментарий" required="" />
                <input onclick="fync();" class="alignright" name="submitButton" id="btnSave" value="Save" type="button">
            </div>
        </div>*@
    <form asp-action="LichnKab" asp-controller="home" enctype="multipart/form-data">
        <div hidden class="form-group">
            <label asp-for="postId" class="control-label">Имя</label>
            <input type="text" asp-for="postId" value="@i.Id" class="form-control" />
        </div>
        <div align="left" class="form-group">
            <label asp-for="Body" class="control-label">Комментарий</label>
            <input type="text" asp-for="Body" class="form-control" />
        </div>
        <div hidden class="form-group">
            <label asp-for="Data" class="control-label">Имя</label>
            <input type="text" asp-for="Data" value="@DateTime.Now" class="form-control" />
        </div>
        <div class="form-group">

            <label class="upload-file__label" for="upload-file__input_1" asp-for="Photo">
                <i class="fas fa-chevron-circle-up"></i>
            </label>
            <input hidden
                   asp-for="Photo"
                   type="file"
                   id="upload-file__input_1"
                   class="form-control"
                   accept=".jpg, .jpeg, .png, .gif, .bmp, .doc, .docx, .xls, .xlsx, .txt, .tar, .zip, .7z, .7zip"
                   multiple>
            <label class="upload-file__label" for="upload-file__input_2" asp-for="Video">
                <i class="fas fa-video"></i>
            </label>
            <input hidden
                   asp-for="Video"
                   type="file"
                   id="upload-file__input_2"
                   class="form-control"
                   accept=".mp4"
                   multiple>
            <label class="upload-file__label" for="upload-file__input_3" asp-for="Music">
                <i class="fas fa-music"></i>
            </label>
            <input hidden
                   asp-for="Music"
                   type="file"
                   id="upload-file__input_3"
                   class="form-control"
                   accept=".mp3"
                   multiple>
        </div>
        @foreach (var j in user)
        {
            <div hidden align="left" class="form-group">
                <label asp-for="Name" class="control-label">Автор поста</label>
                <input type="text" asp-for="Name" value="@j.Name" class="form-control" />
            </div>
        }
        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>
    </form>
</div>
            <br />
        }
    }
</center>
@*@section Scripts
    {
            <script type="text/javascript">

           //setInterval(function () {
           //     $('#time').load('Message.cshtml #time');
                // }, 3000);
            $(function Add () {
                LoadData();
                $("#btnSave").click(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("sendComments")',
                        data: {
                            body: $("#addBody").val(),
                            name: $("#addName").val(),
                            postId: $("#addPostId").val(),
                            Data: $("#addData").val()
                            //photo: $("#addPhoto").val()
                        },

                        success: function (data) {
                            // alert("Data has been added successfully.");
                            LoadData();

                        },
                        error: function () {
                            alert("Error while inserting data");
                        }
                    });
                    return false;
                });
            });
            //setInterval(LoadData, 7500);
            //Вывод
            function LoadData() {

            $("#tblComments tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getComments")',
                dataType: 'json',
                data: { id: '' },
                success: function (data) {
                    var items = '';
                    $.each(data, function (i, item) {
                        var rows =
                            "<tr>"
                            + "<td style='border: 2px solid white;' class='prtoducttd'>"
                            + "<div style='background-color: rgba(128, 128, 255,0.3);'>"
                            + "<p class='alignleft' >" + item.name + "</p>"
                            + "<p class='alignright' >" + item.data + "</p>" + "</br>"
                            + "</div>"
                            + "<p align='left' style='margin:20px;' >" + item.body + "</p>"
                            + "</td>"
                            + "</tr>";

                            $('#tblComments tbody').append(rows);
                        $("#mydiv").scrollTop($("#mydiv")[0].scrollHeight);

                    });
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Messagee: " + r.Messagee);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
            return false;
            }
            </script>

    }*@


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>